#ownerInfoContainer{
    background-color: black;  
    border: #B78620 3px solid;
    border-radius: 20px;
    width: 85%; 
    height: 500px; 
    position: relative;
    top: 900px; 
    margin-left: auto;    
    margin-right: auto;       
  }

  h1.about-owner{
    color: white; 
    font-family: 'palatino linotype', sans-serif;      
    position: relative; 
    top: 30px;      
  }

  h2.about-owner{
    color: white; 
    font-family: 'palatino linotype', sans-serif;   
    font-size: 2.1rem;     
    position: relative; 
    top: 30px;   
  }