#OurServicesContainer{
    background-color: black;  
    border: #B78620 3px solid;
    border-radius: 20px;
    width: 85%; 
    height: 500px; 
    position: relative;
    top: 500px; 
    margin-left: auto;    
    margin-right: auto;       
  }

  #service-image{
    position: absolute;  
    top: 80px;  
    width: 150px; 
    height: 90px; 
    border: 2px solid #B78620;  
    border-radius: 5px;
    transform: translateX(-50%)  
  }

  @media screen and (min-width: 900px){
    #service-image{
        top: 90px; 
        width: 210px;
        height: 130px;  
    }
  } 

  h1.service-info{
    position: absolute;  
    color: white; 
    font-family: 'palatino linotype', sans-serif;      
    position: relative; 
    top: 30px;      
  }

  h2.service-info{
    color: white; 
    font-family: 'palatino linotype', sans-serif;   
    font-size: calc(10px + (25 - 10) * ((100vw - 100px) / (1600 - 100)));     
    position: relative; 
    top: 150px;   
    text-align: left;  
    padding-left: calc(10px + (50 - 10) * ((100vw - 100px) / (1600 - 100))); 
    padding-right: calc(10px + (50 - 10) * ((100vw - 100px) / (1600 - 100)));  
    line-break: auto;     
  }

  .main-service{
    padding-top: 10px;  
  }

  